/* Universal selector settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the foundation background colour of the whole site. */
body {
    background-color: #d9dcd6;
}

/* Sets styling for the 'header' section or the top bar section containing the logo and nav links. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Defines the overall styling of the Horiseon logo. */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Turns the 'seo' part of the name Horiseon on the top left grey, to create a logo-like effect.*/
.header h1 .seo {
    color: #d9dcd6;
}

/* Styling for the header (border/box area) */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Styling and spacing between the navigation links at the top. */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Hyperlink styling (Navigation links) */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraph styling */
p {
    font-size: 16px;
}

/* Hero section refers to the main 'book cover' image. Usually the largest image or the centerpiece. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}



/* >>>>Beginning of section for the class "content" and it's contained elements.<<<<< */

/* Unique styling to display certain sections with the image on the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Unique styling to display certain sections with the image on the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Styling and positioning the the main portion of the site. Mainly so it doesn't take up the whole width
of the page, allowing the 'aside' information bar to have space and be positioned. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* CSS Styling for articles of the "content" class. Consolidated excess code into one section since all properties
were the same */
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Associated image styling for each section - Sets max height so the image looks like an interior section. Consolidated 
excess definitions for each content into a single property setting, as each image had the same sizing*/
.content img {
    max-height: 200px;
}

/* All the h2 sections within content have the same properties. Removed excess code to consolidate. */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}



/* >>>>Beginning of smaller side section for the class "benefits" and it's contained elements.<<<<< */

/* Establishes the housing block for the benefits/side information */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Benefits Subsections Styling Consolidated */
.benefits article > * {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

/* Benefits Section - Image Styling Consolidated */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



/* >>>>Beginning of footer<<<<< */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
